* {
  box-sizing: border-box;
}

html {
  --bg: #040404;
  --text: #fcf8ff;
  --link-text: #C3BCCF;
  --padding-inline: min(3rem, 5vw);
  --padding-block: calc(var(--padding-inline) * 2);
  background-color: var(--bg);
}

body {
  color: var(--text);
  margin: 0;
  position: relative;
}

.background {
  position: fixed;
  inset: 0;
  z-index: -1;
}

p {
  color: var(--text);
  font-size: 1rem;
  line-height: 1.25rem;
}

a {
  color: var(--link-text);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease-out;

  &:hover {
    text-decoration: underline;
    color: #ffffff;
  }
}

a, button, label {
  cursor: pointer;
}
