@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

* {
  box-sizing: border-box;
}

html {
  --bg: #040404;
  --text: #fcf8ff;
  --link-text: #C3BCCF;
  --padding-inline: min(3rem, 5vw);
  --padding-block: calc(var(--padding-inline) * 2);
  background-color: var(--bg);
  font-family: system-ui, sans-serif;
}

body {
  color: var(--text);
  margin: 0;
  position: relative;
}

.background {
  position: fixed;
  inset: 0;
  z-index: -1;
}

p {
  color: var(--text);
  font-size: 1rem;
  line-height: 1.25rem;
}

a {
  color: var(--link-text);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease-out;

  &:hover {
    color: #ffffff;
  }
}

a, button, label {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 400;
}
