.question {
  position: relative;
}

.questionText {
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
  margin: 0;

  @supports (height: 100dvh) {
    height: 100dvh;
  }
}

.bottom {
  --inset-top: calc(100vh - var(--padding-block));

  @supports (height: 100dvh) {
    --inset-top: calc(100dvh - var(--padding-block));
  }

  position: absolute;
  inset: var(--inset-top) 0 0 0;
  display: grid;
  place-items: center;
}

.editButton {
  background-color: var(--bg);
  border: 0;
}
